# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# macOS
.DS_Store

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Python build
build/
dist/
*.egg-info/

*.pth
